@import "../../App.scss";
@import "sass-extras";
$a-height: get-size('.spotify-header', 'height');

.spotify{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1;
  margin-left: $sidebar-width;
  margin-top: $header-height;
  height: calc(100% - $header-height);
  padding: 3vh;
}